SMTP_HOST=smtp.a1scolombia.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=automatizaciones@a1scolombia.com
SMTP_PASS=TU_CONTRASEÑA
SMTP_FROM=automatizaciones@a1scolombia.com

TWILIO_ACCOUNT_SID=TU_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TU_AUTH_TOKEN
TWILIO_FROM=+1234567890
